@if (isLoading) {
<mat-spinner></mat-spinner>
} @else {
<button (click)="openDialog()" mat-flat-button class="btn-add" color="primary">
    <mat-icon>add</mat-icon> Crear curso
</button>
}



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableAlumnos">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.birthdate | date : "dd/MM/YYYY" }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="editAlumno(element)" mat-icon-button>
                <mat-icon color="basic">edit</mat-icon>
            </button>

            <button (click)="deleteAlumnoById(element.id)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>