<mat-drawer-container class="container" autosize>
    <!-- SIDEBAR INICIO -->
    <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <!-- SIDEBAR FIN -->

    <!-- MAIN CONTENT INICIO-->
    <div class="sidenav-content">

        <!-- TOOLBAR INICIO -->
        <app-header [draw]="drawer"></app-header>
        <!-- TOOLBAR FIN -->

        <main>

            <router-outlet></router-outlet>

            <!-- <app-clase-pipes /> -->
        </main>

    </div>
    <!-- MAIN CONTENT FIN-->
</mat-drawer-container>