<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title class="text-base">{{name$ | async}}</mat-card-title>
        <mat-card-subtitle class="text-xs">{{role$ | async}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-list>
    <a mat-list-item routerLinkActive #homeLink="routerLinkActive" [activated]="homeLink.isActive" routerLink="/home">
        Inicio
    </a>

    <a mat-list-item routerLinkActive #cursosLink="routerLinkActive" [activated]="cursosLink.isActive"
        routerLink="/cursos">
        Cursos
    </a>

    <a mat-list-item routerLinkActive #alumnosLink="routerLinkActive" [activated]="alumnosLink.isActive"
        routerLink="/alumnos">
        Alumnos
    </a>

    <a mat-list-item routerLinkActive #clasesLink="routerLinkActive" [activated]="clasesLink.isActive"
        routerLink="/clases">
        Clases
    </a>

    <a mat-list-item routerLinkActive #inscripcionesLink="routerLinkActive" [activated]="inscripcionesLink.isActive"
        routerLink="/inscripciones">
        Inscripciones
    </a>

    <a mat-list-item (click)="logout()">
        Cerrar sesion
    </a>

</mat-list>