.menu {
    margin-bottom: 10px;
    margin-left: 20px;
}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mdc-list-item--activated {
    border-bottom: 2px solid #bbb;
}