<h1>Inscripciones a cursos / Alumnos</h1>

<hr>

<div class="flex">
    <div class="flex-1">
        <h1>Cursos</h1>

        @if (isLoadingCourses$ | async) {
        <mat-spinner></mat-spinner>
        } @else {


        @for (course of courses$ | async; track course.id) {

        <mat-card class="example-card m-1" [ngClass]="{'card-click': courseId == course.id}" appearance="outlined"
            (click)="studentsCourse(course)">
            <mat-card-header>
                <mat-card-title>{{course.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Descripcion</p>
            </mat-card-content>
            <mat-card-footer class="example-card-footer">
                <mat-chip-set aria-label="Chihuahua traits">
                    <mat-chip>Inscriptos: {{course.enrollments?.length}}</mat-chip>
                    <mat-chip>Clases: 12</mat-chip>
                </mat-chip-set>
            </mat-card-footer>
        </mat-card>
        }
        }

    </div>


    <div class="flex-1">


        @if (selectCourse.length>0) {
        <h1>
            <button mat-button class="font-bold" [disabled]="(selectCourse[0].id == '')?true:false"
                (click)="addStudenCourse()">
                <mat-icon color="accent">person_add</mat-icon>
            </button>

            | Alumnos del curso: {{selectCourse[0].name}}
        </h1>



        <mat-divider></mat-divider>

        <mat-list role="list">

            @for (students of studentsEnrollments; track students.student.id) {
            <mat-list-item role="listitem" id="{{students.enrollmentId}}">
                <div class="flex p-3 m-3">

                    <div class="w-10 flex">
                        {{students.student.surname}}, {{students.student.name}} | {{students.student.dni}}
                    </div>
                    <div class="w-2 flex">
                        <mat-icon color="warn" (click)="deleteEnrollement(students.enrollmentId)"
                            style="cursor: pointer;">delete</mat-icon>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            }
            @empty {
            <p>No hay Inscriptos en el curso aun!</p>
            }

        </mat-list>
        }
    </div>
</div>