.example-card {
    max-width: 400px;
}

.example-card:hover {
    background-color: rgb(206, 255, 206);
    border-color: black;
    cursor: pointer;
}

.card-click {
    background-color: rgb(206, 255, 206);
    border-color: black;
    box-shadow: 1px;
}

.example-card-footer {
    padding: 16px;
}